*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #DFF0D8;
    font-family: poppins;
}

.main-heading
{
    width:100%;
    height:80px;
    padding: 20px;
    background-color: #B71C1C;
    display: flex;
    align-items: center;
    justify-content:center ;
    color:#fff;
}

.main-body
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    line-height: 20pt;
    margin-top: 80px;
   
}

.instructions
{
    font-size: 18px;
}

.input-area
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    line-height: 22pt;
    font-weight: 600;
    font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    min-height: 40px;
    width:300px;
    outline: none;
    border: solid 1px #000;
    font-size: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #000;
    text-align: center;
}

.submit-btn
{
    width:120px;
    height: 45px;
    font-weight: 700;
    border: none;
    background-color: #B71C1C;
    font-family: poppins;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
    color: #FFF;
    transition: transform 0.2s ease;
}

.submit-btn:hover
{
    transform: scale(1.04)
}

.output-area
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    line-height: 22pt;
    font-weight: 500;
    font-size: 17px;
}

